@use "center.scss" as center;
@import "normalize.css";

:root {
  font-size: 10px;
}

html,
body {
  @include center.flexCenter;
  width: 100vw;
  height: 100vh;
}

#app {
  @include center.flexCenter;
  // border: 2px solid;
  width: 100%;
  height: 100%;
}

#user_info {
  @include center.flexCenter;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid black;
  gap: 0.2rem;
  // height: 180px;
}

#user_submit {
  width: 100%;
  align-self: center;
  margin: 1rem 0 0.5rem 0;
}

#table_dom {
  border: black 1px solid;
  width: 300px;
  padding: -1px;
  // height: 100vh;

  height: 100%;
    overflow-y: scroll;

    padding: -1px;

  #table_title {
    // flex:1;
    padding: -1px;
    display: flex;
    direction: row;
    text-align: center;
    // justify-content: center;
    // align-items: baseline;
    
    :nth-child(n) {
      
      width: 30%;
      border: 1px solid black;
    }
    :nth-child(3) {
      width: 40%;
      border: 1px solid black;
    }
    // :nth-child(3) {
    //   width: 40%;
    //   border: 1px solid black;
    // }
    // gap: 2rem;
    color: red;
    

  }

  #table_content {

    // position: absolute;
    
    // display: flex;
    .content_line {
      padding: -1px;
      text-align: center;
      // border: 1px solid black;
      display: flex;
      // justify-content:;
      :nth-child(1) {
        width: 30%;
        border: 1px solid black;
      }
      :nth-child(2) {
        width: 30%;
        border: 1px solid black;
      }
      :nth-child(3) {
        width: 40%;
        border: 1px solid black;
      }
      
      // direction: row;
      color: blue;
      // gap: 2rem;
    }

  }
}