@use "center.scss" as center;
@import "normalize.css";

:root {
  font-size: 10px;
}

html,
body {
  @include center.flexCenter;
  width: 100vw;
  height: 100vh;
}

#app {
  @include center.flexCenter;
  // border: 2px solid;
  width: 100%;
  height: 100%;
}

#user_info {
  @include center.flexCenter;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border: 1.5px solid rgba(0, 0, 0, 0.596);
  border-radius: 3px;
  gap: 0.2rem;
  // height: 180px;
}

#user_submit {
  width: 100%;
  align-self: center;
  margin: 1rem 0 0.5rem 0;
}

#table_dom {
  box-sizing: border-box;

  // overflow: hidden;
  // overflow: scroll;
  margin-left: 2px;
  border: 1.5px solid rgba(0, 0, 0, 0.596);
  width: 300px;
  height: 100%;
  // scrollbar-arrow-color:yellow;
  // scrollbar-base-color:lightsalmon;
  // &::-webkit-scrollbar-thumb {
  //   background-color: rgb(162, 179, 185);
  // }

  // padding: -1px;
  padding-bottom: 2px;

  #table_title {
    width: 95.3%;
    // padding: 3px;
    margin: 2px;

    // flex:1;
    // padding: -1px;
    display: flex;
    direction: row;
    text-align: center;
    // justify-content: center;
    // align-items: baseline;
    // border: 1px solid rgba(0, 0, 0, 0.596);
    background-color: rgb(219, 171, 201);

    :nth-child(n) {
      border-radius: 1px;
      font-size: 8px;
      width: 30%;
      // border: 1px solid rgba(0, 0, 0, 0.596);
    }

    :nth-child(3) {
      border-radius: 1px;
      font-size: 8px;
      width: 40%;
      // border: 1px solid rgba(0, 0, 0, 0.596);
    }

    color: rgb(143, 13, 13);


  }

  #table_content {
    // margin:10px;

    height:max-content;
    height:88%;
    overflow-y: auto;
    
    > :nth-child(2n+1) {
      background-color: rgba(119, 111, 111, 0.247);
    }

    > :nth-child(2n+2) {
      background-color: rgba(194, 187, 187, 0.164);
    }


    border-radius: 3px;
    // padding: 3px;
    margin: 2px;
    // gap:1px;
    font-size: 10px;

    // :nth-child(2n+1) {
    //   background-color: grey;
    // }

    // position: absolute;

    // display: flex;
    .content_line {
      // padding: -1px;
      // margin:1px;
      margin-bottom: 1px;

      text-align: center;
      // border: 1px solid black;
      display: flex;

      // justify-content:;
      :nth-child(1) {

        border-radius: 1px;
        // font-size: 26px;
        width: 30%;
        border: 1px solid rgba(0, 0, 0, 0.596);
      }

      :nth-child(2) {
        width: 30%;
        // border: 1px solid black;
        border: 1px solid rgba(0, 0, 0, 0.596);
      }

      :nth-child(3) {
        width: 40%;
        border: 1px solid black;
        border: 1px solid rgba(0, 0, 0, 0.596);
      }

      // direction: row;
      color: rgb(16, 16, 110);
      // gap: 2rem;
    }


  }
}